.analogove {
	display: inline-flex;
	justify-content: center;
	font-size: 3em;
	border: 0.2em solid;
	border-radius: 50%;
	width: 6em;
	height: 6em;
	position: relative;
}

.analogove__znacky {
	opacity: 0.3;
}

.analogove__hodiny {
	position: absolute;
	left: calc(50% - 0.03em);
	right: calc(50% - 0.03em);
	top: 0.1em;
	bottom: 0.1em;
}

.analogove__par-hodin {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: rotate(30deg);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.analogove__par-hodin::before,
.analogove__par-hodin::after {
	content: '';
	flex-basis: 7%;
	background-color: currentColor;
}

.analogove__rucicky {
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
}

.analogove__rucicky::before {
	content: '';
	position: relative;
	z-index: 1;
	width: 0.25em;
	height: 0.25em;
	transform: translateY(50%);
	border-radius: 50%;
	border: 0.07em solid;
	background-color: #f63200;
}

.analogove__hodinova,
.analogove__minutova,
.analogove__vterinova {
	position: absolute;
	top: 0;
	bottom: 0;
	transform-origin: 50% 100%;
	background-color: currentColor;
}

.analogove__hodinova::before,
.analogove__minutova::before,
.analogove__vterinova::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	bottom: -10%;
	background-color: currentColor;
}

.analogove__vterinova::before {
	bottom: -30%;
}

.analogove__hodinova {
	top: 34%;
	left: -0.1em;
	right: -0.1em;
}

.analogove__minutova {
	top: 19%;
	left: -0.06em;
	right: -0.06em;
}

.analogove__vterinova {
	z-index: 1;
	top: 25%;
	left: -0.02em;
	right: -0.02em;
	color: #f63200;
}
