/* Do tohoto souboru piš vlastní styly */
@keyframes blikani {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.digitalni__dvojtecka {
	/* Zadefinuj a zde pak použij animaci blikání */
	animation: blikani 1s infinite;
}


/* Statický ukázkový čas 4:35:57 */


@keyframes toceni {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.analogove__hodinova {
	animation: toceni 43200s infinite linear;
}

.analogove__minutova {
	animation: toceni 3600s infinite linear;
}

.analogove__vterinova {
	animation: toceni 60s infinite linear;
}
